# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.env
.venv
venv/
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/
.pytpe/
.cache/

# Project-specific ignores
.chroma/
Dockerfile.allinone
server.py
start.sh
